.dialog{
    width: 440px;
    background-color: #1d1d1d;
    color: white;
    border: 1px solid gray;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    outline: none;
}

.dialog>div{
    padding: 1em;
}

.dialog::backdrop{
    background: rgba(0,0,0,0.4);
}

.close{
    text-align: right;
    margin-top: 15px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;;
}

.title{
    font-size: 2em;
    font-weight: bold;
}

.description{
    font-size: .8em;
    color: rgb(185, 185, 185);
}

.methods{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.google{
    width: 100%;
    height: 48px;
    background: var(--blue-color-600);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: .9em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.google:hover{
    background: var(--blue-color-400);
}

.bottomOption{
    font-size: .8em;
    cursor: pointer;
    margin-bottom: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formBlock{
    border: 1px solid gray;
    border-radius: 10px;
    width: 270px;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    box-sizing: border-box;
    cursor:text;
}

.icon{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid darkgray;
}

.field>label{
    font-size: .7em;
    color: rgb(185, 185, 185);
    display: block;
    padding-bottom: 2px;
}

.field>input{
    outline: none;
    border: 0;
    background: none;
    color: white;
    padding: 0;
    font-size: .9em;
}

.field>input::placeholder{
    font-size: .8em;
}

.button{
    width: 270px;
    height: 40px;
    border-radius: 10px;
    font-size: .9em;
    background: var(--blue-color-400);
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:hover{
    background: var(--blue-color-200);
}

.error{
    font-size: .7em;
    color: #eb4f4f;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3; /* Light grey border */
    border-top: 2px solid #3498db; /* Blue top border for the "spinning" part */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Apply the animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}