.moduleForm {
    max-width: 970px;
    padding: 10px;
    margin: 25px auto;
    color: white;
    padding-bottom: 180px;
}

.title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.infoFields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
}

.languages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.field {
    width: 100%;
    display: block;
    margin-top: 10px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--blue-color-400);
    color: white;
    padding: 10px;
    font-size: 18px;
    transition: .2s;
    box-sizing: border-box;
}

.field.error {
    border-bottom-color: rgb(228, 46, 46);
}

.field:focus:not(.error) {
    border-bottom: 2px solid var(--blue-color-200);
}

.addCard {
    width: 100%;
    padding: 25px 0;
    background: var(--header-background);
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addCard:hover {
    color: var(--blue-color-400);
    opacity: .9;
}

.createContainer {
    padding-top: 30px;
}

.pulse {
    animation: pulse 0.5s ease forwards;
}

.buttonSave {
    width: 160px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 767px) {
    .moduleForm {
        width: 90%;
    }

    .info {
        flex-direction: column;
        align-items: end;
        gap: 15px;
    }

    .infoFields {
        width: 100%;
    }

    .buttonSave {
        width: 100%;
    }
}