.create{
    width: 970px;
    margin: 25px auto;
    color: white;
    padding-bottom: 180px;
}

.title{
    text-align: center;
    font-size: 26px;
    font-weight: bold;   
    margin-bottom: 10px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.infoFields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
}

.languages{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.moduleField {
    width: 100%;
    display: block;
    margin-top: 10px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--blue-color-400);
    color: white;
    padding: 10px;
    font-size: 18px;
    transition: .2s;
    box-sizing: border-box;
}

.buttonSave{
    padding: 10px 60px;
    background: green;
    font-size: 1.1em;
    border-radius: 4px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.buttonSave:hover{
    background: var(--blue-color-400);
}

.moduleField.error{
   border-bottom-color: rgb(228, 46, 46);
}

.moduleField:focus:not(.error){
    border-bottom: 2px solid var(--blue-color-200);
}

.card{
    background: var(--header-background);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: pulse 0.5s ease forwards;
}

.card__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid var(--background-color);
    margin-top: 20px;
}

.card__titleDelete{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.card__titleDelete:hover{
    background: var(--blue-color-400);
    border-radius: 100%;
}

.card__titleDelete>img{
    width: 18px;
    height: 18px;
}

.card__content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.addCard{
    padding: 25px 0;
    background: var(--header-background);
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addCard:hover{
    color: var(--blue-color-400);
    opacity: .9;
}

.content{
    padding-top: 30px;
}

.pulse {
    animation: pulse 0.5s ease forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 468px) {
    .create{
        width: 90%;
    }

    .info{
        flex-direction: column;
        align-items: end;
        gap: 15px;
    }

    .infoFields{
        width: 100%;
    }
}

@media (min-width: 468px) and (max-width: 767px) {
    .create{
        width: 90%;
    }

    .info{
        flex-direction: column;
        align-items: end;
        gap: 15px;
    }

    .infoFields{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .create{
        width: 90%;
    }

    .info{
        flex-direction: column;
        align-items: end;
        gap: 15px;
    }

    .info-fields{
        width: 100%;
    }
}
