.module {
    max-width: 820px;
    padding: 0 10px;
    margin: 20px auto;
    color: white;
    padding-bottom: 50px;
}

.title {
    font-size: 2em;
    padding-bottom: 10px;
}

.subtitle {
    padding-bottom: 20px;
    font-size: 1.2em;
}

.learningTypes {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.learningBtn {
    padding: 12px 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: left;
    gap: 10px;
    background: var(--blue-color-600);
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .2s ease-out;
}

.learningBtn:hover {
    border: 2px solid white;
}

.learningTypes img {
    width: 24px;
    height: auto;
}

.wordsCounter {
    padding-top: 20px;
}

.wordsCounter .wordsCounterLine {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #444;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 1.4em;
    font-weight: bold;
}

.wordsCounter .wordsCounterLine span {
    background: var(--background-color);
    padding: 0 10px;
}

.updateButton {
    margin: 0 auto;
    width: 250px;
}

@media (max-width: 767px) {
    .module {
        width: 95%;
    }

    .learningBtn {
        flex: 1 1 40%;
    }
}

@media(max-width: 467px) {
    .learningBtn {
        flex: 1 1 40%;
    }
}