.centerWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 370px;
}

.contentContainer {
    width: 100%;
    text-align: center;
}

.instruction {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
}

.footerSpacer {
    height: 4rem;
}

.startButton {
    width: 100%;
    height: 55px;
    border: 0;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    background: var(--blue-color-400);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background .2s ease-out;
}

.startButton:hover {
    background: var(--blue-color-600);
}

@media (max-width: 467px) {
    .info {
        width: 90vw;
    }
}