.match {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    color: white;
}