.wordsPreview {
    padding-bottom: 20px;
}

.previewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.previewCard {
    display: flex;
    justify-content: left;
    align-items: center;
}

.number {
    width: 3%;
    font-size: 0.9em;
    font-weight: bold;
}

.data {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: var(--header-background);
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info {
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-left: 15px;
}

.name {
    font-size: 1em;
    width: 30%;
    border-right: 2px solid #242424;
    padding: 3px 0;
    padding-right: 10px;
    overflow-wrap: break-word;
    box-sizing: border-box;

}

.definition {
    width: 60%;
    padding-left: 36px;
    text-align: left;
    font-size: 1.1em;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.data.next {
    background: #494949;
}

@media (max-width: 992px) {
    .options {
        gap: 7px;
    }

    .data {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .data.heighten {
        padding: 40px 10px 20px 10px;
    }

    .name {
        padding-right: 5px;
        font-size: 1em;
        width: 40%;
    }

    .definition {
        font-size: 1.1em;
    }

    .number {
        width: 5%;
        font-size: .8em;
    }

    .options {
        position: absolute;
        right: 10px;
        top: 6px;
    }
}

@media (max-width: 467px) {
    .data {
        flex-direction: column;
        align-items: start;
    }

    .definition {
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
    }

    .name {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgb(103, 103, 103);
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .number {
        width: 8%;
    }
}