.field {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    outline: 0;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    background: #525252;
    transition: .2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.field:focus {
    border: 1px solid var(--blue-color-400);
}

.field.correct {
    border: 1px solid green;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.letterOne {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue-color-600);
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.letterOne:hover {
    opacity: .8;
}

.container {
    height: 0;
    transition: height .2s ease;
    overflow: hidden;
}

.buttonsContainer.show {
    display: block;
    height: auto;
    overflow: hidden;
}

@media (max-width: 467px) {
    .field {
        font-size: 1em;
    }
}