.modules {
    width: 980px;
    margin: 25px auto;
    color: white;
}

.title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.module {
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-bottom: 15px;
    background: var(--header-background);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.module:hover {
    border-bottom: 2px solid var(--blue-color-400);
}

.date {
    font-style: italic;
}

.name {
    font-size: 22px;
    padding-bottom: 5px;
    font-weight: bold;
}

.wordsNumber {
    font-size: 14px;
    font-weight: bold;
}

.collection {
    margin-top: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--header-background);
    gap: 10px;
}

.createBtn {
    width: 10%;
    height: 42px;
    box-sizing: border-box;
    background: var(--blue-color-400);
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: .1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.createBtn:hover {
    background: var(--blue-color-600);
}

.search {
    width: 80%;
}

.search>input {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    background-color: var(--header-background);
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid transparent;
}

.search>input:focus {
    border: 1px solid var(--blue-color-400);
}

.darkgreen {
    background: darkgreen;
}

.darkgreen:hover {
    background: rgb(0, 76, 0) !important;
}

@media (max-width: 467px) {
    .modules {
        width: 90%;
    }

    .options {
        flex-direction: column;
        padding-bottom: 15px;
    }

    .search {
        width: 100%;
    }

    .createBtn {
        width: 100%;
    }
}

@media (min-width: 468px) and (max-width: 767px) {
    .modules {
        width: 90%;
    }

    .options {
        flex-direction: column;
        padding-bottom: 15px;
    }

    .search {
        width: 100%;
    }

    .createBtn {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .modules {
        width: 90%;
    }

}