.modules {
    width: 980px;
    margin: 25px auto;
    color: white;
}

.title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.module {
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-bottom: 15px;
    background: var(--header-background);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.module:hover {
    border-bottom: 2px solid var(--blue-color-400);
}

.date {
    font-style: italic;
    font-size: 1em;
}

.name {
    font-size: 1.3em;
    padding-bottom: 5px;
    font-weight: bold;
}

.wordsNumber {
    font-size: .9em;
    font-weight: bold;
}

.collection {
    margin-top: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--header-background);
    padding: 15px 0;
    gap: 10px;
}

.btns {
    width: 25%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    width: 50%;
}

.search {
    width: 80%;
}

.search>input {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    background-color: var(--header-background);
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid transparent;
}

.search>input:focus {
    border: 1px solid var(--blue-color-400);
}

.darkgreen {
    background: darkgreen;
}

.darkgreen:hover {
    background: rgb(0, 76, 0) !important;
}

@media (max-width: 1024px) {
    .modules {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .options {
        flex-direction: column;
        padding-bottom: 15px;
    }

    .search {
        width: 100%;
    }

    .btns {
        width: 100%;
        flex-direction: column;
        font-size: .9em;
    }

    .btn {
        width: 100%;
    }

    .search>input {
        font-size: 1em;
    }

    .module {
        font-size: .9em;
    }
}

@media(max-width: 467px) {
    .module {
        font-size: .8em;
        gap: 5px;
        flex-direction: column-reverse;
        align-items: start;
        padding: 10px;
    }
}