.introduce__preview {
    position: relative;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4em;
}

.introduce__preview::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../public/images/mainBackground.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}

.introduce__previewInfo {
    position: relative;
    width: fit-content;
    text-align: center;
    line-height: 1.4;
    margin-left: 5%;
    padding: 10px;
}

.introduce__smallPreviewText {
    margin-top: 10px;
}

.introduce__previewButton {
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 10px 35px;
    background: #003dff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s ease-out;
}

.introduce__previewButton:hover {
    background: blue;
}

.introduce__features {
    text-align: center;
    margin-bottom: 50px;
}

.introduce__title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--blue-color-200);
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
    margin: 60px 0;
    text-align: center;
}

.introduce__featuresElements {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.introduce__feature {
    width: 20%;
    background: #2a2a2a;
    border-radius: 10px;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.introduce__featureImage {
    width: 146px;
    height: auto;
    margin-bottom: 15px;
}

.introduce__featureLabel {
    font-size: 1.2em;
}

.introduce__learningElements {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.introduce__importElements {
    text-align: center;
}

.introduce__learningImage {
    width: 500px;
    height: auto;
}

.introduce__importImage {
    width: 800px;
    height: auto;
}


@media (max-width: 467px) {
    .introduce__preview {
        font-size: 1.1em;
        height: 40vh;
    }

    .introduce__additionalInfo {
        display: none;
    }

    .introduce__previewInfo {
        margin: 0;
    }

    .introduce__featureLabel {
        font-size: 1em;
    }

    .introduce__feature {
        width: 80%;
    }

    .introduce__featureImage {
        width: 100px;
        height: auto;
    }

    .introduce__title {
        font-size: 1.5em;
        margin: 30px 0;
    }
}

@media (min-width: 468px) and (max-width: 767px) {
    .introduce__title {
        font-size: 2em;
    }

    .introduce__previewInfo {
        margin: 0;
    }

    .introduce__preview {
        align-items: center;
        font-size: 1.2em;
        height: 50vh;
    }

    .introduce__feature {
        width: 40%;
    }

    .introduce__featureImage {
        width: 90px;
        height: auto;
    }

    .introduce__featureLabel {
        font-size: 1em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .introduce__preview {
        padding: 0;
        align-items: center;
    }

    .introduce__feature {
        width: 42%;
    }
}