.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.content {
  background-color: var(--header-background);
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.1em;
}

.logo {
  font-size: 1.9em;
  color: var(--blue-color-200);
  font-weight: bold;
}

.logo:hover {
  opacity: .8;
}

.auth {
  display: flex;
  gap: 2rem;
  color: var(--blue-color-200);
}

.authElement {
  position: relative;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.authElement:hover {
  opacity: .8;
}

.authElement img,
.authElement svg {
  vertical-align: middle;
  margin-right: 5px;
}

.elements {
  display: flex;
  gap: 15px;
}

.buttonElement {
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: white;
  transition: .5s ease-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--blue-color-600);
}

.buttonElement:hover {
  color: white;
  background-color: var(--blue-color-400);
}

.responsiveText {
  display: none;
}

/* Navbar */

.navbar {
  background: var(--header-background);
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  display: none;
  position: absolute;
  width: 100%;
}

.navbar.active {
  max-height: 200px;
}

.navbar>ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0 10px;
}

.navbarElement {
  color: #74b5e8;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 8px;
}

.navbarElement img {
  width: 24px;
}

.navbarButton {
  border-radius: 3px;
  display: none;
  border-radius: 3px;
}

.navbarButton path {
  stroke: var(--blue-color-200);
}

@media (hover: none) {
  .auth-element:hover:after {
    width: 0;
  }

  .authElement {
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 768px) {
  .responsiveText {
    display: inline;
  }

  .normalText {
    display: none;
  }

  .auth {
    gap: 1.2rem;
  }

  .content {
    font-size: .9em;
    padding: 10px 15px;
  }

  .auth,
  .elements {
    display: none;
  }

  .navbarButton,
  .navbar {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .responsiveText {
    display: inline;
  }

  .normalText {
    display: none;
  }

  .auth {
    gap: 1.2rem;
  }

  .content {
    font-size: 1em;
    padding: 10px 15px;
  }
}