.selectLanguage{
    width: 100%;
}

.selectContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectTag{
    width: 100%;
    height: 40px;
    font-size: 1.1em;
    background-color: var(--header-background);
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    outline: 0;
    padding: 5px;
}

.selectTag>option{
    font-size: 1.1em;
}