.baseButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.importContent {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.languages {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.language {
    width: 300px;
}

.importContainer {
    background-color: var(--header-background);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info {
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-left: 15px;
}

.save {
    width: 200px;
}

.saveBtnContent {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Import Area */

.areaContent {
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.separators {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    padding: 3px 0;
}

.separator {
    width: 60px;
    height: 34px;
    background-color: var(--blue-color-400);
    padding: 2px;
    transition: all .2s ease-out;
}

.separator.active {
    background: var(--blue-color-700);
    height: 30px;
}

.separator:not(.active):hover {
    opacity: .8;
}

.moduleField {
    width: 100%;
    display: block;
    margin-top: 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--blue-color-400);
    color: white;
    padding: 10px;
    font-size: 18px;
    transition: .2s;
    box-sizing: border-box;
}

.moduleField.error {
    border-bottom-color: rgb(228, 46, 46);
}

.moduleField:focus:not(.error) {
    border-bottom: 2px solid var(--blue-color-200);
}

.infoFields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .importContent {
        width: 95%;
    }
}

@media (max-width: 767px) {
    .languages {
        flex-direction: column;
        gap: 25px;
    }

    .language {
        width: 100%;
    }

    .save {
        width: 140px;
    }
}

@media (max-width: 468px) {
    .save {
        width: 100%;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .separators {
        justify-content: center;
    }

    .areaContent {
        padding: 10px;
    }
}