.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(59, 59, 59, 0.4);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 999;
}

.container {
    margin: auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container.big {
    width: 600px;
}

.container.small {
    width: 25%;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
    cursor: move;
}

.close {
    float: right;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover {
    background-color: var(--header-background);
}


.info {
    padding: 20px 0px;
}

.info.gap {
    padding: 0 15px;
}

.warning>div {
    margin-bottom: 10px;
}

.module {
    font-size: 1.4em;
    font-weight: bold;
    padding: 15px 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid white;
    padding: 20px 30px;
    gap: 15px;
    align-items: center;
}

@media (min-width: 768px) and (max-width: 1025px) {
    .container {
        width: 60% !important;
    }
}

@media (min-width: 468px) and (max-width: 767px) {
    .container {
        width: 80% !important;
    }
}

@media (max-width: 467px) {
    .container {
        width: 90% !important;
        font-size: .8em;
    }

    .title {
        font-size: 1.8em;
    }
}