.cards {
    width: 80%;
    margin: 0 auto;
    height: 86%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-size: 1.4em;
}

.card {
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(112, 112, 112);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px;
    overflow-wrap: anywhere;
    cursor: pointer;
}

.card:hover {
    background: #5a5a5a;
}

.card.hidden {
    animation: .2s vanishing ease-out forwards;
    background: rgb(68, 145, 85);
}

.card.active {
    background: var(--blue-color-400);
}

.card.mistake {
    animation: .2s twitching ease-out;
    background: white;
    border-color: orange;
}

.displayValue {
    text-align: center;
}

@keyframes vanishing {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes twitching {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}

@media (max-width: 1200px) {
    .cards {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.2em;
    }
}

@media(max-width: 767px) {
    .cards {
        font-size: 1.1em;
    }
}

@media (max-width: 467px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1em;
    }
}